main {
  height: 50vh;
  background-color: lightgray;
  width: 50vw;
  margin: auto;
  padding-block: 1rem;
}

section {
  display: flex;
  gap: .8rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card-photo {
  border: 1px solid;
  width: 15vw;
  height: 15vh;
}