.card {
  height: 6.25rem;
  width: 50%;

  background: #735bf2;
  color: #ffffff;

  border-radius: 10px;
  margin-bottom: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.5rem;
}

.card strong {
  font-size: 1.1rem;
}